<header class="container">
  <h1>Prueba de componente principal</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatum
    unde cum, ducimus nisi quas enim deleniti exercitationem, recusandae
    blanditiis tempora! Hic numquam animi soluta ipsum veritatis vel assumenda
    corporis.
  </p>

  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-review">Pico-review</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
